
ul{
    float: right;
}
ul li{
    display: inline-block;
    margin-top: 25px;

}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.6s ease;

}

html, body{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(to bottom right, #4070f4, white);
    position: relative;      
  }

  img{
    height: 300px;
  position: relative;
  bottom: 60px;
    
  }
  .login{
    background-color: #3b59ff;
    border: none;
    color: white;
    padding: 15px 32px;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 80px;
    position: relative;
    bottom: 40px;
    left: 50px;
  }